.navbar {
    border-bottom: 2px solid $primary-color;
    background-color: $bg-navbar!important;
    .navbar-nav {
        
        a {
            position: relative;
            padding: 0.5rem 0!important;
            margin-left: .5rem;
            margin-right: .5rem;
            border-bottom: 0.125rem solid transparent;

            &::after{
                content: '';
                position: absolute;
                width: 100%;
                bottom: -0.125rem;
                left: 0;
                height: 0.125rem;
                background: $primary-color;
                opacity: 0.2;
                transform: scaleX(0);
                transition: 0.5s all ease-in-out;
            }

            &:hover {
                &::after {
                    transform: scaleX(1);
                    opacity: 1;
                }
            }
        }
    }
}

.active {
    transition: .5s all ease-in-out;
    border-bottom: 0.125rem solid $white!important; 
}